
# Built application files and Maven
target/
# Compiled class files
*.class

# Log Files
*.log

# About IntelliJ
*.iml
/.idea/
/out/

# macOS
.DS_Store

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# mpeltonen/sbt-idea plugin
.idea_modules/



